{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Charts</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Charts</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Chart Forecasting Result
                </div>
                <div class="card-body">
                    <canvas id="myChart" width="100%" height="30"></canvas>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');

        // Ambil data dari Flask dan gunakan untuk membuat grafik
        const dates = {{ dates|tojson|safe }};
        const closeValues = {{ close|tojson|safe }};
        const resultValues = {{ result|tojson|safe }};

        new Chart(ctx, {
        type: 'line',
        data: {
        labels: dates,
        datasets: [{
                label: 'Close Values',
                data: closeValues,
                borderWidth: 1,
                borderColor: 'blue'  // Warna biru untuk garis close
            }, {
                label: 'Result Values',
                data: resultValues,
                borderWidth: 1,
                borderColor: 'red'  // Warna merah untuk garis result
            }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
        });
    </script>
{% endblock javascripts %}
