{% extends "layouts/base.html" %}

{% block title %} {{ request.endpoint.split('.')[-1].capitalize() }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <div class="row">
                <h1 class="mt-4 ">Data Test</h1>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
                    <form method="post" action="{{ url_for('deleteAllTest') }}" onsubmit="return confirm('Apakah Anda yakin ingin menghapus semua data?');">
                        <button type="submit" class="btn btn-danger me-md-2">Delete All</button>
                    </form>
{#                    <form method="post" action="{{ url_for('process') }}">#}
{#                        <button type="submit" class="btn btn-success me-md-2">Process</button>#}
{#                    </form>#}
                    <form action="{{ url_for('test') }}" method="post">
                        <button type="submit" class="btn btn-success me-md-2">Proses</button>
                    </form>
                </div>
            </div>
            <div class="row">
            <div class="col-12">
                <div class="card-mb4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <table class="table" id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Close</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in value %}
                                <tr>
                                    <td>{{ item.Date }}</td>
{#                                    <td>{{ "{:,.0f}".format(item.Close) }}</td>#}
                                    <td>{{ item.Close }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='demo/chart-bar-demo.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/datatables-simple.js') }}"></script>

{% endblock javascripts %}
