{% extends "layouts/base.html" %}

{% block title %} {{ request.endpoint.split('.')[-1].capitalize() }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Data Train</h1>
            <ol class="breadcrumb mb-4 card bg-light">
                <li class="breadcrumb-item active m-1">Data Train</li>
            </ol>
            <div class="row">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
                    <form method="post" action="{{ url_for('train') }}">
                    <!-- Isi formulir dengan input atau elemen formulir lainnya sesuai kebutuhan -->
                    <!-- Misalnya, input file untuk mengunggah data, atau input teks untuk parameter lain -->
                        <button class="btn btn-success me-md-2" type="submit">Pre-Processing</button>
                    </form>
                    <form method="post" action="{{ url_for('deleteAllTrain') }}" onsubmit="return confirm('Apakah Anda yakin ingin menghapus semua data?');">
                        <button type="submit" class="btn btn-danger me-md-2">Delete All</button>
                    </form>
                    <!-- Example single danger button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="{{ url_for('scraping') }}">Crawling Data</a>
                          <a class="dropdown-item" href="{{ url_for('upload') }}">Import Data</a>
                      </div>
                    </div>
                </div>
            <div class="col-12">
                <div class="card-mb4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <table class="table" id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Open</th>
                                <th>High</th>
                                <th>Low</th>
                                <th>Close</th>
                                <th>Adj Close</th>
                                <th>Volume</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in value %}
                                <tr>
                                    <td>{{ item.Date }}</td>
                                    <td>{{ item.Open }}</td>
                                    <td>{{ item.High }}</td>
                                    <td>{{ item.Low }}</td>
                                    <td>{{ item.Close }}</td>
                                    <td>{{ item.Adj }}</td>
                                    <td>{{ item.Volume }}</td>
{#                                    <td>{{ "{:,.0f}".format(item.Open) }}</td>#}
{#                                    <td>{{ "{:,.0f}".format(item.High) }}</td>#}
{#                                    <td>{{ "{:,.0f}".format(item.Low) }}</td>#}
{#                                    <td>{{ "{:,.0f}".format(item.Close) }}</td>#}
{#                                    <td>{{ "{:,.0f}".format(item.Adj) }}</td>#}
{#                                    <td>{{ "{:,.0f}".format(item.Volume) }}</td>#}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='demo/chart-bar-demo.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/datatables-simple.js') }}"></script>

{% endblock javascripts %}
